.w3-sidebar {
    z-index: 3;
    width: 200px;
    top: 44px;
    bottom: 0;
    height: inherit;
}
#search_input {
    height: 43px;
    width: 29vw;
    max-width: 230px;
}

#menu {
    margin: 1em;
    min-width: 8em;
}

#menu > nav{
    padding: 0 13px 0 13px;
}

.logoutbtn {
    
}