article {
    padding-top: 43px;
}
.w3-sidebar {
    z-index: 3;
    width: 200px;
    top: 44px;
    bottom: 0;
    height: inherit;
}
#search_input {
    height: 43px;
    width: 15vw;
    max-width: 230px;
}

#menu {
    margin: 1em;
    min-width: 8em;
}

#menu > nav{
    padding: 0 13px 0 13px;
}

#article_rate {
    font-size: 20px;
}
.article_section{
    overflow: auto;
}